
@using BiblioTECH.Models.CheckoutModel
@model BiblioTECH.Models.CheckoutModel.CheckoutModel
@{
    ViewBag.Title = @Model.Title;
}

@*@model is the model directive*@

@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
}

@section Styles{
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
}

<div class="container">
    <div class="header clearfix detailHeading">
        <h2 class="text-muted">Place Hold on Library Item</h2>
    </div>

    <div class="jumbotron">
        <div class="row">
            <div class="col-md-3">
                <div>
                    <p id="itemTitle">@Model.Title</p>
                    <img class="detailImage" src="@Model.ImageUrl" />
                </div>
            </div>
            @*you could also use tag helpers.*@
            <div class="col-md-9">
                <p>Deocamdata sunt @Model.HoldCount persoane in fata dumneavoastra.</p>
                @*this is an html helper - it creates an object that implements idisposable*@
                @using (Html.BeginForm("PlaceHold", "Catalog", FormMethod.Post))
                {
                    @Html.HiddenFor(a => a.AssetId)
                    <div>
                        <button type="submit" class="btn btn-info btn-lg">Place Hold</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

